<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->

  <!-- Added Styling for the Header Title-->
  <style>
    #header {
      text-align:  center;
      color: black;
      font-size: 36px;
    }
    #subtitle {
      text-align: center;
      color: black;
      font-size: 28;
    }
    .p {
      text-align: center;
      font-size: 20;
    }
    #footer {
      text-align: center;
    }
  </style>

  <h1 id="header">Welcome to the Farmington Hills Luxury Garage!!</h1> <!--Name of the shop-->
  <h2 id="subtitle">Where speed and having fun are our middle name.</h2>
  <img class="center" src="././assets/Porsche911.jpg" alt="Porsche 911">
  <p style="text-align:center"><a href="https://classics.autotrader.com/classic-cars/1969/ford/mustang/101723988"><p>Link to View Classic Mustang Car</p></a></p>
  <p>Use our signups page to sign up to drive one of these amazing sports cars. The cost is $250-$400, depending on which vehicle you would like to test drive.</p>
  <h2 id="footer">Farmington Hills Garage Copyright 2022</h2>


</ion-content>
