<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      1969 Mustang
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Farmington Hills Luxury Garage: 1969 Mustang</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->

  <!-- Added Styling for the Header Title-->
  <style>
    #header {
      text-align:  center;
      color: black;
      font-size: 36px;
    }
  </style>
  <h1 id="header">1969 Mustang, The Classic Muscle Car</h1> <!--Name of the shop-->
  <h2></h2>
  <a href="./tab1/"></a>


</ion-content>
